<%= form_for [:admin, @season] do |f| %>
	<div class="form-control">
		<%= f.label :name %>
		<%= f.number_field :name, :value => @last_season.blank? ? 1 : @last_season.name + 1, readonly: true %>
	</div>
	<%= f.hidden_field(:league_id, :value => @league.id) %>
	<%= f.submit 'Сохранить', :class => "btn btn-primary m-t-2" %>
<% end %>
