<div class="main">
	<%= search_form_for @search, url: admin_games_path do |f| %>
		<div class="filter">
			<%= f.select :league_id_eq, options_from_collection_for_select(League.all.order(:city).order(:name), :id, :league_filter, @search.league_id_eq), prompt: "Все Лиги" %>
			<%= f.select :season_name_eq, options_for_select(Season.distinct(:name).order(:name).pluck(:name)), prompt: "Все Сезоны" %>
			<div><%= f.submit "Фильтр", class: "btn btn-success" %></div>
			<%= link_to "Сброс", request.path, class:"btn btn-danger" %>
		</div>
	<% end %>
	<div class="box">
		<div class="box-body no-padding">
			<table class="table table-condensed">
				<tbody>
					<tr>
						<th><%= sort_link @search, :league_city, "Город" %></th>
						<th><%= sort_link @search, :league_name, "Лига" %></th>
						<th><%= sort_link @search, :season_name, "Сезон" %></th>
						<th><%= sort_link @search, :game, "Игра" %></th>
						<th><%= sort_link @search, :data, "Дата" %></th>
						<th>Подтвержденные/<br>неподтвержденные</th>
						<th></th>
					</tr>
				</tbody>
				<tbody>
			<% @games.each do |game| %>
		    <tr>
		      <td><%= game.league.city %></td>
		      <td><%= game.league.name %></td>
		      <td><%= game.season.name %></td>
		      <td><%= game.game %></td>
		      <td>
		      	<% if game.data != nil %>
		      	<%= game.data.strftime("%d-%m-%Y")%>
		      	<%= game.data.strftime("%H:%M")%>
		      	<% else %>
		      	<%= "" %>
		      	<% end %>
		      </td>
					<td><%= GameTeam.all.where(game_id: game.id).size %> <span>/</span> <%= GameTeam.all.where(game_id: game.id).where(approved: false).size %></td>
		      <td>
		    	<%= link_to '<i class="fas fa-eye"></i>'.html_safe, admin_game_path(game), :class => "mybtn btn_show" %>
				<%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_admin_game_path(game), :class => "mybtn btn_edit" %>
				<%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, admin_game_path(game), :class => "mybtn btn_delete", method: :delete, data: { confirm: 'Вы уверены?' }  %></td>
		    </tr>
			<% end %>
				</tbody>
			</table>
			<%= paginate @games %>
		</div>
	</div>


</div>
