<div class="main">
	<div class="box">
		<div class="box-body table-responsive">
			<table class="table">
				<tbody>
					<tbody>
						<tr>
							<th>Команда</th>
							<td><%= @team.name %></td>
						</tr>
						<tr>
							<th>Капитан</th>
							<td><%= @team.captain %></td>
						</tr>
						<tr>
							<th>Email</th>
							<td><%= @team.email %></td>
						</tr>
						<tr>
							<th>Телефон</th>
							<td><%= @team.phone %></td>
						</tr>
						<tr>
							<th>№ Лиги</th>
							<td><%= @team.league_id %></td>
						</tr>
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
